[submodule "sw/hoverboard"]
	path = sw/hoverboard
	url = git@github.com:Cirromulus/bipropellant-hoverboard-firmware.git
[submodule "logo"]
	path = logo
	url = git@github.com:pilsbot/logo.git
[submodule "sw/head_mcu"]
	path = sw/head_mcu
	url = git@github.com:pilsbot/head_mcu.git
